*, .swiper-button-next {
    backface-visibility: visible;
    font-family: Lato, sans-serif;
}

.sliderItem {
    /* max-width: 520px; */
    /* transform: translateZ(0); */
    backface-visibility: visible!important;
    width: 100%!important;
    height: 80%!important;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

.slideHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 10px 0 5px 0;
}

h6 {
    font-size: 1rem;
    margin: 0;
    color: #fff
}

p {
    font-size: 0.75rem;
    color: hsla(0,0%,100%,.5);
    margin: 0;
}

.circulations {
    width: 70%;
    padding: 0 32px;
    max-height: 300px;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (24px);
    grid-template-columns: repeat(10,24px);
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.containerSwiper {
    width: 400px!important;
    height: 140px;
}

.button {
    background-color: red;
    position: absolute;
    bottom: 13px;
}

.itemCirc {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,100%,.1);
    box-sizing: border-box;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6875rem;
}

.containerSwiper {
    position: relative;
}

.nextBtn {
    position: absolute;
    top: 97%;
    right: 15%;
    cursor: pointer;
    transform: rotateY(180deg);
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevBtn {
    position: absolute;
    top: 97%;
    left: 15%;
    cursor: pointer;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextBtn:hover svg path, .prevBtn:hover svg path {
    stroke: black;
}

.nextBtn:hover, .prevBtn:hover {
    background-color: #ffdf51;
    border: 1px solid #ffdf51
}

@media screen and (max-width: 1024px) {
    .containerSwiper {
        width: 100%!important;
    }

    .nextBtn {
        display: none;
    }

    .prevBtn {
        display: none;
    }
}